.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Định nghĩa chiều cao cố định cho bảng */
.fixed-height-table .ant-spin-nested-loading .ant-spin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Chiều cao tối thiểu: (5 dòng * 55px) + Header + Pagination ~ 450px */
  min-height: 500px; 
}

.fixed-height-table .ant-table {
  flex-grow: 1; /* Bảng sẽ chiếm hết khoảng trống còn lại */
}

.fixed-height-table .ant-pagination {
  margin-top: 16px !important; /* Đảm bảo khoảng cách đẹp */
  margin-bottom: 0 !important;
}